html,body {
    height: 100%;
}

#header {
    background-color: #BFCDCD;
}

#menu {
    background-color: #cc0033;
}

#content {
    background-color: white;
}

#footer {
    background-color: #cc0033;
    color:whitesmoke;
    text-align: right;
}

a {
    color:whitesmoke;
}

a:hover {
    color:gray;
}

.logo {
    min-width: 100%;
    width:100%;
}

