html,body {
    height: 100%;
}

#header {
    background-color: #0fb9b1;

}

#menu {
    background-color: #d1d8e0;
}

#content {
    background-color: white;
}

#footer {
    background-color: #d1d8e0;
}

a {
    color:#cb0705;
}

a:hover {
    color:black;
}